<section class="hero-section" id="home">
    <div class="container hero-container">
        <h1 class="visually-hidden">Plin Go Ball</h1>
        <div class="hero-wrapper">
        <picture>
            <source srcset="
                        /img/hero/logo-desk.png 1x,
                        /img/hero/logo-desk@2x.png 2x
                                 " media="(min-width: 1439px)" />
            <source srcset="
                        /img/hero/logo-mob.png  1x,
                        /img/hero/logo-mob@2x.png 2x
                                 " media="(max-width: 1438px)" />
            <img class="hero-logo" src="/img/hero/logo-mob.png" alt="Plin Go Ball" loading="lazy" />
        </picture>
        <h2 class="hero-subtitle">Drop it, pick your risk level, and see what happens.</h2>
        <p class="hero-text">So picture this - it's like 7pm, the sky's got that perfect purple glow, and boom, these two hosts show up to walk you
        through everything. Melissa and Miranda are ready to guide the game — not by chance, but by choice. In PlingoBall, your
        choices actually matter here, and watching that ball bounce around? I swear it'll have you gripping your phone waiting
        to see where it lands. It's all about timing and having the guts to watch your choices play out.</p>
        <a class="hero-link btn" href="#demo">
            <p>Start the Drop</p>
        </a>
    </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container">
        <div class="disclaimer-wrapper">
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text">neonroll.site IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF SUCCESS PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME
        AS SUCCESS IN REAL LIFE ACTIVITIES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY PLAYING THIS GAME.</p>
    </div>
</div>
</section>
<section class="game-section" id="demo">
    <div class="container game-container">
        <div class="title-wrapper">
            <img src="/img/ellipse.png" alt="ellipse" loading="lazy">
            <h2>The Game</h2>
        </div>
        <h3>How PlingoBall Works</h3>
        <p class="game-text">Here's the basic concept behind PlingoBall:<br/>balls are released from seashells and bounce through a field filled with
        obstacles, directions, and targets.
        Where the ball lands depends on the chosen setup and the path it takes — so every drop keeps you on edge.</p>
        <div class="demo-wrapper">
            <picture>
                <source srcset="
                        /img/demo/demo-desk.png 1x,
                        /img/demo/demo-desk@2x.png 2x
                        " media="(min-width: 1440px)" />
                <source srcset="
                        /img/demo/demo-mob.png 1x,
                        /img/demo/demo-mob@2x.png 2x
                        " media="(max-width: 1439px)" />
                <img class="game-img" src="/img/demo/demo-mob.png" alt="Plin Go Ball" loading="lazy" />
            </picture>
        
        
            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>
        
                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
        </div>
        <a class="demo-btn btn" href="#" data-game-url="http://demo.evoplay.games/demo/instant/html5/evoplay/plingoball"
            target="gameIframe">
            <p>Start the Drop</p>
        </a>
    </div>
</section>
<section class="characters-section" id="characters">
    <div class="container characters-container">
        <div class="title-wrapper">
            <img src="/img/ellipse.png" alt="ellipse" loading="lazy">
            <h2>Characters</h2>
        </div>
        <h3>Meet Melissa & Miranda</h3>
        <p class="characters-text">Together, they create a welcoming atmosphere that feels supportive rather than overwhelming.</p>
        <picture>
            <source srcset="
            /img/characters/content-desk.png 1x,
            /img/characters/content-desk@2x.png 2x
            " media="(min-width: 1439px)" />
            <source srcset="
            /img/characters/content-mob.png 1x,
            /img/characters/content-mob@2x.png 2x
            " media="(max-width: 1438px)" />
        <img class="characters-img" src="/img/characters/content-mob.png" alt="girls" loading="lazy">
        </picture>

        <ul class="characters-list">
            <li class="characters-item">
                <h4 class="characters-item-title">Miranda</h4>
                <p class="characters-item-text">Energetic and playful. She adds spark and excitement, turning every drop into a small performance.</p>
            </li>
            <li class="characters-item">
                <h4 class="characters-item-title">Melissa</h4>
                <p class="characters-item-text">Calm, confident, and precise. She's the steady one who keeps things smooth and under control.</p>
            </li>
        </ul>
    </div>
</section>
<section class="choose-section" id="choose">
    <div class="container">
    <div class="title-wrapper">
        <img src="/img/ellipse.png" alt="ellipse" loading="lazy">
        <h2>Choose Your Style</h2>       
    </div>
     <h3>You pick how crazy you want things to get.</h3>
     <div class="choose-wrapper">
        <p class="choose-text">PlingoBall lets players decide how intense the experience should be.<br class="choose-desk"/> Larger fields introduce more complexity and
        movement.<br/>
        Higher risk settings increase tension and amplify the effect of multipliers along the way. Since you're calling the
        shots, each game feels like it's really yours.</p>
        <div class="choose-list-wrapper">
        <p class="big-choose-text">You can adjust:</p>
        <ul class="choose-list">
            <li class="choose-item">
                <img src="/img/choose/star.png" alt="Star" loading="lazy">
                <p class="choose-item-text">the size of the field</p>
            </li>
            <li class="choose-item">
                <img src="/img/choose/star.png" alt="Star" loading="lazy">
                <p class="choose-item-text">the number of obstacles</p>
            </li>
            <li class="choose-item">
                <img src="/img/choose/star.png" alt="Star" loading="lazy">
                <p class="choose-item-text">the overall risk level</p>
            </li>
        </ul>
    </div>
        <img class="choose-img" src="/img/choose/girl.png" alt="girl" loading="lazy">
     </div>
    </div>
</section>
<section class="why-section" id="why">
    <div class="container">
        <div class="title-wrapper">
            <img src="/img/ellipse.png" alt="ellipse" loading="lazy">
            <h2>Why PlinGoBall</h2>
        </div>
        <ul class="why-list">
            <li class="why-item why-item-big">
                <p class="why-subtitle">Melissa and Miranda actually make you feel like you're hanging out with friends</p>
                <p class="why-text">Melissa and Miranda turn the experience into a shared moment, not a solo action.</p>
            </li>
            <li class="why-item">
                <p class="why-subtitle">You're actually in control here</p>
                <p class="why-text">You control the pace and complexity, not the game.</p>
            </li>
            <li class="why-item">
                <p class="why-subtitle">Instant Visual Feedback</p>
                <p class="why-text">You can see exactly what's happening - no confusing animations or weird glitches.</p>
            </li>
            <li class="why-item why-item-big">
                <p class="why-subtitle">Takes like 30 seconds to figure out, but then you're stuck playing for hours</p>
                <p class="why-text">Easy to learn, but but man, you'll find yourself coming back for more.</p>
            </li>
        </ul>
    </div>
</section>