body{
    background: #091222;
    font-family: "Roboto Flex", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #ebebeb;
}
h2{
    font-family: "Roboto Flex", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        color: #ebebeb;
}
h3{
    font-family: "Londrina Solid", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.5;
        text-align: center;
        color: #74d7ff;
        margin-top: 40px;
}
.title-wrapper{
    display: flex;
    gap: 12px;
    align-items: center;
}
.btn{
    bottom: none;
border-radius: 40px;
    width: 240px;
    height: 48px;
    box-shadow: 1px 2px 2px 0 rgba(27, 59, 111, 0.4);
        background: linear-gradient(180deg, #091222 0%, #1b3b6f 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:active{
 background: #1b3b6f;
}
/* Characters */
.characters-section{
    background-color: #1b3b6f;
    background-image: url("/img/characters/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 281px;
    height: 525px;
}
.characters-container{
    position: relative;

}
.characters-img{
    position: absolute;
    width: 204px;
    height: 235px;
    bottom: 4%;
    left: 21%;
    z-index: 2;
}
.characters-text{
    margin-top: 24px;
}
.characters-list{
height: 134px;
display: flex;
justify-content: space-between;
margin-top: 140px;
}
.characters-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #74d7ff;
        border-radius: 16px;
        padding: 12px;
        width: 128px;
        height: 134px;
        box-shadow: 0 0 14px 0 rgba(116, 215, 255, 0.7);
            background: #1b3b6f;
            gap: 8px;

}
.characters-item-title{
    font-family: "Londrina Solid", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        color: #74d7ff;
}
.characters-item-text{
    font-family: "Roboto Flex", sans-serif;
        font-weight: 300;
        font-size: 10px;
        line-height: 1.5;
        text-align: center;
        color: #ebebeb;
}