body{
    background: #091222;
    font-family: "Roboto Flex", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.5;
        text-align: center;
        color: #ebebeb;
}
h2{
    font-family: "Roboto Flex", sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.5;
        color: #ebebeb;
}
h3{
    font-family: "Londrina Solid", sans-serif;
        font-weight: 400;
        font-size: 32px;
        line-height: 1.5;
        text-align: center;
        color: #74d7ff;
        margin-top: 40px;
}
.title-wrapper{
    display: flex;
    gap: 12px;
    align-items: center;
}
.btn{
    bottom: none;
border-radius: 40px;
    width: 240px;
    height: 48px;
    box-shadow: 1px 2px 2px 0 rgba(27, 59, 111, 0.4);
        background: linear-gradient(180deg, #091222 0%, #1b3b6f 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
}
.btn:hover,
.btn:active{
 background: #1b3b6f;
}
