.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.hero-section{
    background-image: url("/img/hero/mob.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 775px;
}
.hero-wrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.hero-subtitle{
    font-family: "Londrina Solid", sans-serif;
        font-weight: 400;
        font-size: 32px;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(9, 18, 34, 0.95);
        text-shadow: 0 1px 2px 0 #ebebeb;
}
.hero-text{
    font-weight: 500;
        color: rgba(9, 18, 34, 0.95);
        text-shadow: 0 1px 2px 0 #ebebeb;
        width: 333px;
}
.hero-link{
    margin-top: 24px;
}
@media only screen and (min-width: 1440px) {
  .hero-section{
    background-image: url("/img/hero/desk.png");
    height: 628px;
  }
  .hero-container{
    padding: 80px 189px;
  }
  .hero-wrapper{
    align-items: start;
    margin-top: 0;
  }
.hero-text{
    width: 584px;
    text-align: left;
}
.hero-link{
    margin-top: 0;
}
}